@model List<Product>
@{ 
    int k = 1;
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ProductId</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">PathSmallImage</th>
            <th scope="col">Count</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <th scope="row">@k</th>
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td><img src="~/img/@product.PathSmallImage" /></td>
                <td>@product.Count</td>
                <td>@product.Price.ToString("C1")</td>
            </tr>

            k = k + 1;
        }
    </tbody>
</table>